{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>forgot-password.html</title>
    {% include 'ai_front/header_footer/header_login.html' %}
  </head>

  <body class="bg-gradient-primary custom-font">
    <div class="container">
      <!-- Outer Row -->
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-3 d-none d-lg-block bg-password-image"></div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-2">
                        아이디를 잊으셨나요?
                      </h1>
                      <p class="mb-4">아래 양식을 채워주세요!</p>
                    </div>
                    <form class="user">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control form-control-user"
                          id="floatingInputBizOwner"
                          placeholder="성함"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control form-control-user"
                          id="floatingInputBizNo"
                          placeholder="사업자번호"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="email"
                          class="form-control form-control-user"
                          id="floatingInputBizEmail"
                          aria-describedby="emailHelp"
                          placeholder="이메일"
                        />
                      </div>
                      <a
                        id="findID"
                        class="btn btn-primary btn-user btn-block"
                        onclick="find_ID()"
                      >
                        아이디 확인
                      </a>
                    </form>
                    <hr />
                    <div class="text-center">
                      <a class="small" href="{% url 'register' %}"
                        >신규가입하기</a
                      >
                    </div>
                    <div class="text-center">
                      <a class="small" href="{% url 'login' %}"
                        >아이디가 생각났어요 로그인할래요.</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'ai_front/header_footer/footer_login.html' %}

    <script>
      function find_ID() {
        document.getElementById("findID").style.display = "none";
        document.getElementById("loadingOverlay").classList.remove("d-none");
        document.getElementById("loadingSpinner").classList.remove("d-none");

        BizOwner = document.getElementById("floatingInputBizOwner").value;
        BizNo = document.getElementById("floatingInputBizNo").value;
        BizEmail = document.getElementById("floatingInputBizEmail").value;

        if (BizOwner == "" || BizNo == "" || BizEmail == "") {
          document.getElementById("findID").style.display = "block";
          document.getElementById("loadingOverlay").classList.add("d-none");
          document.getElementById("loadingSpinner").classList.add("d-none");
          //alert("성함, 사업자번호, 이메일을 모두 입력해주세요.");
          Swal.fire({
            // title: '패스워드!',
            text: "성함, 사업자번호, 이메일을 모두 입력해주세요.",
            icon: "warning",
            confirmButtonText: "확인",
          });
        } else {
          const url = "/users/api/findid";

          // Sending data in the request body for a POST request
          fetch(url, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              BizOwner: BizOwner,
              BizNo: BizNo,
              BizEmail: BizEmail,
            }),
          })
            .then((response) => response.json())
            .then((data) => {
              document.getElementById("findID").style.display = "block";
              document.getElementById("loadingOverlay").classList.add("d-none");
              document.getElementById("loadingSpinner").classList.add("d-none");

              if (data.username !== "User not found") {
                //alert(`고객님 아이디는 ${data.username} 입니다.`);
                Swal.fire({
                  // title: '패스워드!',
                  text: `고객님 아이디는 ${data.username} 입니다.`,
                  icon: "success",
                  confirmButtonText: "확인",
                }).then((result) => {
                  if (result.isConfirmed) {
                    window.location.replace(loginPath);
                  }
                });
              } else {
                //alert("입력사항을 확인하세요.\n존재하지 않는 정보입니다.");
                Swal.fire({
                  // title: '패스워드!',
                  text: "입력사항을 확인하세요.\n존재하지 않는 정보입니다.",
                  icon: "warning",
                  confirmButtonText: "확인",
                });
              }
              console.log(data.username);
            })
            .catch((error) => console.error("Error:", error));
        }
      }
    </script>
  </body>
</html>
